*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

.heading{
    font-size: 400%;
    text-align: center;
}

.container{
    background-color: bisque;
    height: 90%;
    width: 50%;
    margin: 1.4% auto;
    border-radius: 2%;
    border: 2px solid black;
    padding: 0.2%;
    padding-bottom: 0.391%;
}

.cell{
    width: 23.81%;
    height: 23.81%;
    background-color: aqua;
    float: left;
    margin: 0.2%;
    border: 3px solid black;
    border-radius: 7%;

}

.cell:hover{
    background-color: blue;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button{
    background-color: rgb(205, 113, 66);
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.326%;
    border-radius: 15%;
    margin-left: 0 auto 0 auto;
}

.start-button:hover{
    background-color: bisque;
}


@media only screen and (max-width: 330px) {
    .container{ 
    width: 230.712px;
    height: 367.200px;
    }

    .cell{
        width: 50.750px;  
        height: 85px;
    }

    .heading{
        font-size: 135%;
    }

    .start-button{
        font-size: 70%;
    }
}

@media only screen and (min-width: 330px) {
    .container{ 
    width: 288px;
    height: 381.112px;
    }

    .cell{
        width: 64.500px;  
        height: 88.225px;
    }

    .heading{
        font-size: 160%;
    }

    .start-button{
        font-size: 90%;
    }
}


@media only screen and (min-width: 475px) {
    .container{ 
    width: 333.200px;
    height: 460.875px;
    }

    .cell{
        width: 75.963px;  /* 23% */
        height: 108.075px;
    }

    .heading{
        font-size: 230%;
    }

    .start-button{
        font-size: 90%;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {
    .container{ 
    width: 419.438px;
    height: 449.675px;
    }

    .cell{
        width: 97.088px;  /* 23% */
        height: 104.762px;
    }

    .heading{
        font-size: 230%;
    }

    .start-button{
        font-size: 90%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        width: 480px;
        height: 493.800px;
        padding-left: 0.45%;
    }

    .cell{
        width: 111.838px;
        height: 115.537px;
    }
    .heading{
        font-size: 275%;
    }

    .start-button{
        font-size: 100%;
    }
}

@media only screen and (min-width: 700px) {
    .container{
        width: 525px;
        height: 493.800px;
        padding-left: 0.45%;
    }

    .cell{
        width: 122.588px;
        height: 115.787px;
    }
    .heading{
        font-size: 300%;
    }

    .start-button{
        font-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        width: 614.400px;
        height: 526.713px;
        padding-left: 0.45%;
    }

    .cell{
        width: 144.688px;
        height: 123.250px;
     }
    .heading{
        font-size: 350%;
    }

    .start-button{
        font-size: 160%;
    }
}

@media only screen and (min-width: 920px) {
    .container{
        width: 690px;
        height: 559.638px;
        padding-left: 0.45%;
    }

    .cell{
        width: 162.837px;
        height: 131.225px;
     }
    .heading{
        font-size: 370%;
    }

    .start-button{
        font-size: 190%;
    }
}

@media only screen and (min-width: 1100px) {
    .container{
        width: 825px;
        height: 592.550px;
        padding-left: 0.45%;
    }

    .cell{
        width: 196.96px;
        height: 139.5px;
     }
    .heading{
        font-size: 400%;
    }

    .start-button{
        font-size: 210%;
    }
}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {

} */


/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

} */